@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background: url("./images/Group.png") #1c1a19 no-repeat;
  background-position: 100% 120%;
  background-size: 30%;
}

.headline-title2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 12px 0;
}

.headline-title {
  font-family: Crete Round, sans-serif;
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}

.headline-description {
  font-family: "Poppins", serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

.headline > div {
  padding: 120px 24px 120px 24px;
}

.headline-social > li {
  list-style-type: none;
}

.social {
  color: white;
  font-size: 25px;
}

.headline-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 200px;
  height: 40px;
  margin-top: 12px;
}

.logo {
  text-decoration: none;
  color: white;
  font-family: "Roboto", serif, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

header {
  width: 100%;
}

header > nav {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  align-items: center;
  color: white;
  padding: 24px;
}

.links {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-social > li {
  list-style-type: none;
}

.social-item {
  color: #505f79;
  font-size: 25px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 16px 0;
  width: 200px;
  height: 40px;
  margin-top: 12px;
}

.footer-divider {
  border: solid 1px #dfe1e6;
}

.form {
  width: 100%;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 25px 120px 25px;
}

.form-text {
  margin-bottom: 73px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

.email-input ::placeholder,
.name-input ::placeholder,
.form-texterea ::placeholder {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.form-texterea ::placeholder {
  font-style: italic;
}

.email-input input,
.name-input input {
  height: 32px;
  padding-left: 12px;
}

.email-input input,
.name-input input,
.form-texterea textarea {
  font-family: Inter, sans-serif;
  width: 100%;
  border: none;
  border-bottom: solid #dbd8d7 1px;
  margin-top: 24px;
}

.form-texterea textarea {
  border: none;
  background-color: #fbf8f7;
  margin-bottom: 24px;
  padding: 12px 0 0 12px;
}
